@model IEnumerable<Bookkeeping.Models.ExpensesRecord>

@Styles.Render("~/Content/ExpensesListCSS.css")

@{
    Layout = "";
    int intSerialNo = 0;
}

@if (Model.Any() == false)
{
    <br />
    @:無資料
}
else
{
    //主要的資料顯示區塊
    <div id="targetDiv" class="row">
        <table class="table table-bordered table-hover table-responsive">
            <tr class="well panel-info">
                <th class="EL-Table-SerialNo text-center">#</th>
                <th class="EL-Table-Category text-center"> @Html.DisplayNameFor(model => model.Category)</th>
                <th class="EL-Table-Date text-center"> @Html.DisplayNameFor(model => model.Date)</th>
                <th class="EL-Table-Money text-center"> @Html.DisplayNameFor(model => model.Money)</th>
                <th class="EL-Table-memo text-left"> @Html.DisplayNameFor(model => model.memo)</th>
            </tr>

            @foreach (var item in Model)
            {
                @TableHelper.DisplayTableItem(item, ++intSerialNo)
            }
        </table>
    </div>
}
